<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha foi solicitada para sua conta.</p>
  <p>Caso você tenha solicitado, clique no link abaixo para ser redirecionado a pagina de recuperação de senha:</p>
  <p>
    <a href="{{link}}">Resetar Minha Senha</a>
  </p>
  <p>Caso não tenha solicitado, ignore este email.</p>
  <p>Obrigado! <br/> <strong>Equipe GoBarber</strong></p>
</div>
